{% extends 'base.html' %}
{% block name %} Love Story {% endblock %} 
{% block content %}
<h1>&hearts; &hearts; Your Love story &hearts; &hearts;</h1>
<p>
    <!-- {% for love in loves %}
    {{loves}}
    {% endfor %} -->
    Once upon a time in {{town}}, there were two souls named {{name1}} and {{name2}}. They had been friends for years, but one
    fateful evening, something changed between them.
    <br><br>
    As the rain {{verb}} down {{adverb}} outside, {{name1}} and {{name2}} found themselves sitting in a cozy café, sipping hot
    chocolate and sharing stories. Suddenly, {{name2}} reached out and gently touched {{name1}}'s hand. Their eyes met, and in that
    moment, their hearts raced as they realized their true feelings for each other.
    <br><br>
    With trembling hands, {{name2}} whispered adoringly, "{{name1}}, I've loved you silently for so long."
    <br><br>
    {{name1}} smiled warmly and replied, "{{name2}}, I've been waiting for you to say that."
    <br><br>
    In that dimly lit café, amidst the rain's soft symphony, {{name2}} and {{name1}}'s friendship blossomed into a deep, passionate
    love. Their love story unfolded with a tenderness that warmed their hearts, and they lived happily ever after, forever
    grateful for that rainy evening when their love took flight.

</p>
{% endblock %}